#page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 2.3rem;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  padding: 10px;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #808080;
}

#signin {
  background-color: #4285F4;
  color: white;
  height: 30px;
  width: 70px;
  border-radius: 1px;
  font-size: 14px;
  border: 0;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.3rem;
  background-color: #F2F2F2;
  font-size: 14px;
  align-items: center;
  border-top: solid .3px;
  border-color: #E6E6E6;
}

#footer-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: left;
}

#footer-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

#mainlogo {
  display: flex;
  margin: auto;
  position: relative;
  margin-top: 10%;
}

#searcharea {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 45px;
}

#searchbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 400px;
  border: solid .5px;
  border-radius: 20px;
  border-color: #CCCCCC;
  color: #666666;
}

#searchbar:hover {
  box-shadow: 2px 2px 8px #CCCCCC;
}

#searchtext {
  width: 270px;
  font-size: 14px;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

#searchtext:hover, #searchtext:active, #searchtext:focus {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

a:link, a:visited {
  text-decoration: none;
  color: #666666;
}

a:hover, a:active {
  text-decoration: underline;
  color: #666666;
}

.button {
  color: #666666;
  background-color: #F2F2F2;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:hover {
  box-shadow: 0 0 0 .6px #808080;
}
